<?xml version="1.0"?>

<parameters>
    <controllerhostname>127.0.0.1</controllerhostname>
    <evaluator>
        <name>ca.utoronto.civ.its.galapagos.samples.NoisyParabola</name>
    </evaluator>
    <chromosome>
        <name>ca.utoronto.civ.its.galapagos.Chromosome</name>
        <numobjectives>1</numobjectives>
        <weights>
            <weight0>1</weight0>
        </weights>
    <fitness>
        <name>ca.utoronto.civ.its.galapagos.fitnesses.SingleObjectiveFitness</name>
    </fitness>
    <genome>
        <name>ca.utoronto.civ.its.galapagos.genomes.RealGenome</name>
        <numgenes>3</numgenes>
        <geneminvalues>
            <range><to>3</to><value>-100</value></range>
        </geneminvalues>
        <genemaxvalues>
            <range><to>3</to><value>100</value></range>
        </genemaxvalues>
    </genome>
    </chromosome>
	<terminator>
		<name>ca.utoronto.civ.its.galapagos.terminators.StdTerminator</name>
		<minstd>0.00005</minstd>
	</terminator>
	<container>
		<containerid>theContainer</containerid>
        <containerhostname>127.0.0.1</containerhostname>
		<dispatcherhostname>127.0.0.1</dispatcherhostname>
		<population>
			<populationid>thePopulation</populationid>
			<populationsize>20</populationsize>
			<generationsize>10</generationsize>
			<sendatonce>10</sendatonce>
			<priority>1</priority>
			<initializer>
				<name>ca.utoronto.civ.its.galapagos.operators.initializers.RandomInitializer</name>
			</initializer>
			<generator>
				<name>ca.utoronto.civ.its.galapagos.operators.generators.StandardGenerator</name>
				<recombiner>
					<name>ca.utoronto.civ.its.galapagos.operators.recombiners.RealSimpleCrossover</name>
					<selector>
						<name>ca.utoronto.civ.its.galapagos.operators.selectors.RankBasedSelector</name>
					</selector>
					<sendnumber>1</sendnumber>
				</recombiner>
				<mutator>
					<name>ca.utoronto.civ.its.galapagos.operators.mutators.StaticMutator</name>
					<genemutator>
						<name>ca.utoronto.civ.its.galapagos.operators.genemutators.PercentageGeneMutator</name>
						<mutationrange>0.1</mutationrange>
					</genemutator>
					<mutationprobabilities>
						<range><to>3</to><value>1.0</value></range>
					</mutationprobabilities>
				</mutator>
			</generator>
			<assembler>
				<name>ca.utoronto.civ.its.galapagos.operators.assemblers.CrowdingAssembler</name>
				<selector>
					<name>ca.utoronto.civ.its.galapagos.operators.selectors.BestSelector</name>
				</selector>
				<elitenumber>0</elitenumber>
			</assembler>
			<migrator>
				<name>ca.utoronto.civ.its.galapagos.operators.migrators.NullMigrator</name>				
			</migrator>
			<hybridizer>
				<name>ca.utoronto.civ.its.galapagos.operators.hybridizers.NullHybridizer</name>
			</hybridizer>
		</population>		
	</container>
</parameters>
